@use "../functions" as *;

.room-details {
  &__item {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
  }
  &__owner {
    height: 330px;
    cursor: pointer;
    position: sticky;
    top: 82px;
    &__img {
      // height: 133px;
      // width: 133px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      margin-bottom: funToRem(16);
      width: 140px;
      height: 140px;
      border: 0.76px solid #d2d2d2;
    }
  }
  &__fav-btn {
    border: 1px solid #626a6f;
    border-radius: 8px;
    background-color: #ffffff;
  }
  &__fav-span {
    position: relative;
    top: -4px;
    padding-right: 7px;
  }
  &__user-icon {
    color: white;
    text-align: center;
    border-radius: 8px;
    background-color: #a66701;
    padding: 4px 8px;
    margin-right: 5px;
  }
  &__price {
    color: #a66701;
    font-weight: 700;
  }
  &__line {
    height: 1px;
    background-color: #d2d2d2;
    margin: 20px 0;
  }
  &__reservarion,
  &__editbts {
    display: flex;
    justify-content: space-between;
  }
  &__services {
    display: flex;
    &__icons {
      margin-left: funToRem(8);
      padding: 0 8px;
      display: inline-block;
      color: white;
      text-align: center;
      border-radius: 8px;
      background-color: #a66701;
      display: flex;
      justify-content: center;
      height: 30px;
      align-items: center;
      i {
        padding-left: 8px;
      }
    }
  }

  &__room-title {
    color: #1e1f31;
    font-size: funToRem(20);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 34px;
  }
}

.container-section-booking {
  border-radius: 8px;
  box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 196px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    width: 766px;
  }
  &__section-date {
    width: 48%;
  }
}

@media (max-width: 541px) {
  .room-details {
    &__reservarion,
    &__editbts {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__services {
      flex-direction: column;
      &__icons {
        margin-bottom: funToRem(8);
      }
    }
  }

  .container-section-booking {
    padding: 32px 0;
    &__form {
      width: 344px;
    }
    &__section-date {
      width: 99%;
    }
  }
  .input {
    width: 342px;
  }
}

@media (max-width: 376px) {
  .container-section-booking {
    &__form {
      width: 344px;
    }
  }
  .input {
    width: 342px;
  }
}

.img-top {
  width: 100%;
  height: 169px;
  position: relative;
  .blurImg,
  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .isloading {
    opacity: 0;
  }
  .isready {
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
}
