.chat {
  &__sender {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__sender__message {
    max-width: 350px;
    box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #3463b7;
    box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 8px 16px;
    margin-right: 7.61px;
    border-radius: 0.4rem 0rem 0.4rem 0.4rem;
  }
  &__receiver {
    display: flex;
    flex-direction: row;
    direction: ltr;
    align-items: center;
  }

  &__image {
    width: 30.79px;
    height: 30.79px;
    border-radius: 50%;
    border: 0.79px solid #d2d2d2;
  }
  &__time {
    color: #a5a9ab;
    font-size: 8px;
    letter-spacing: 0;
    margin: 0;
    margin-top: 2.61px;
  }
  &__receiver__message {
    direction: rtl;
    max-width: 350px;
    background-color: #ffffff;
    box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #212529;
    font-size: 12px;
    padding: 8px 16px;
    margin-left: 7.61px;
    border-radius: 0 0.4rem 0.4rem 0.4rem;
  }
}
