.user-title {
  color: #212529;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
  text-align: right;
}

.nav-layout {
  box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  // margin-bottom: 30px;
  position: sticky;
  z-index: 100;
}
.navbar-nav-scroll {
  background: white;
}
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 60;
  background: #fff;
}
.dropdown-menu-profile {
  width: 274px;
}
.authheader {
  color: #013ca6;
  font-size: 16px;
  font-weight: bold;
  margin-left: 16px;
}
.dropdown-men {
  border-radius: 8px;
  box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 415px) {
  header {
    direction: ltr;
  }
}
