@use "../functions" as *;

.RequestDetails {
  display: flex;
  justify-content: space-between;
  margin-top: funToRem(16);
  padding: 0;
  padding-bottom: funToRem(16);
  border-bottom: 1px solid #d2d2d2;

  li {
    border-left: 1px solid #a5a9ab;
    padding-left: funToRem(46);
    h4 {
      color: #626a6f;
      font-size: funToRem(14);
      font-weight: bold;
    }
    &:last-child {
      border: 0;
    }
  }

  &__status {
    height: funToRem(29);
    // width: funToRem(60);
    padding: funToRem(2) funToRem(8);
    border-radius: 8px;
    box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.04);
    text-align: center;
    font-size: funToRem(14);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__totalPrice {
    color: #a66701;
    font-size: funToRem(24);
    font-weight: bold;
  }
}

// 426
@media (max-width: 1025px) {
  .RequestDetails li {
    padding-left: 1rem;
  }
}

@media (max-width: 541px) {
  .p-32 {
    padding: 0.4rem;
  }
  .RequestDetails {
    flex-direction: column;
    li {
      display: flex;
      border: 0;
      border-bottom: 1px solid #d2d2d2;
      justify-content: space-between;
      margin-top: 21px;
      padding: 10px 0;

      align-items: center;
      &:last-child {
        padding: 0;
      }
    }
  }
}
